# ── CLICKHOUSE ──────────────────────────────────────
CLICKHOUSE_HOST= https://fkipuwdp7r.us-east-1.aws.clickhouse.cloud:8443          # paste your host URL here
CLICKHOUSE_PORT=8443
CLICKHOUSE_USER=default
CLICKHOUSE_PASSWORD= _03jJo7Ci_4Rv
CLICKHOUSE_DATABASE=default